@media (max-width: 767px) {
  .menu {
    background-color: #000;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
  }

  .menu.show {
    right: 0;
  }

  .menu + .backdrop {
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .menu.show + .backdrop {
    opacity: 1;
    pointer-events: all;
  }

  .close {
    text-align: right;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .backdrop {
    display: none;
  }
}
