:root {
  --color-primary: #3bcb7c;
  --color-secondary: #0093ff;

  --font-family-base: 'Khula', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: radial-gradient(47.66% 38.4% at 52.19% 28.51%, rgb(18, 25, 40) 0%, rgb(8, 11, 18) 100%);
  color: #fff;
}
