@media (max-width: 767px) {
  .menu {
    background-color: #000;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
  }

  .menu.show {
    right: 0;
  }

  .menu.show + .backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .close {
    text-align: right;
    width: 100%;
  }
}
